[submodule "src/unitree_legged_sdk"]
	path = src/unitree_legged_sdk
	url = https://github.com/unitreerobotics/unitree_legged_sdk.git
[submodule "src/unitree_ros_a1"]
	path = src/unitree_ros_a1
	url = https://github.com/sunaynas/unitree_ros_a1.git
	branch = master
[submodule "src/ros-object-detection"]
	path = src/ros-object-detection
	url = git@github.com:sunaynas/ros-object-detection.git
